* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  word-break: break-word;
}
:root {
  --theme-color: #0d47a1;
  --light-theme-color: #3162af;
  --primary-text-color: black;
  --secondary-text-color: #9e9e9e;
  --tertiary-text-color: #424242;
  --light-text-color: white;
  --disabled-color: #6f79bc;
  --footer-color: #bdbdbd;
  --light-border-color: #e0e0e0;
  --white: white;

  font-size: 62.5%;

  --bowl_ringG-width: 48px;
  --bowl_ringG-height: 48px;
  --bowl_ringG-border: 4px;
  --ballG-width: 19px;
  --ballG-height: 19px;
  /* formula:  --(ballG-height divided by 2) minus 2 */
  --ballG-top: calc(2px - calc(var(--ballG-height) / 2));
}
/* DO NOT ADD PADDING OR MARGIN ON BODY. IT WILL MESS THINGS UP. */
body {
  background-color: var(--light-text-color);

  /* width: 100%; */
  /* top: 1px; */
}

/* when the modal is open we dont want the body to be scrolled */

body.modal-open {
  position: fixed;
  width: 100%;
}

/* Icons */
.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-20 {
  font-size: 20px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}
.material-icons.md-32 {
  font-size: 32px;
}
.material-icons.md-28 {
  font-size: 28px;
}
.material-icons.md-30 {
  font-size: 30px;
}

/* button splash effect */
.splash-effect {
  position: relative;
  overflow: hidden;
}
.ripple {
  position: absolute;
  background-color: white;
  transform: translate(-50%, -50%);
  pointer-events: none;
  border-radius: 80%;
  animation: animate 0.7s linear infinite;
}

@keyframes animate {
  0% {
    width: 0px;
    height: 0px;
    opacity: 0.5;
  }

  100% {
    width: 500px;
    height: 500px;
    opacity: 0;
  }
}

/* loading animation */

.loading-animation-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  /* position: absolute;
  top: 64px;
  left: 0px; */
  width: 100%;
  height: calc(var(--vh, 1vh) * 100 - 6.4rem);
  /* min-height: 100px; */
  opacity: 1;
  pointer-events: all;
  /* background-color: yellowgreen; */
}
.loading-animation-container.media-loading-animation {
  z-index: 1;
  position: absolute;
  top: 2rem;
  height: initial;
  /* background: turquoise; */
  --bowl_ringG-width: 40px;
  --bowl_ringG-height: 40px;

  --ballG-width: 16px;
  --ballG-height: 16px;
  /* formula:  --(ballG-height divided by 2) minus 2 */
  --ballG-top: calc(2px - calc(var(--ballG-height) / 2));
}

.loading-animation-container.hide {
  opacity: 0;
  pointer-events: none;
}

#bowlG {
  /* position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  display: inline-block;
  /* width: 60px;
  height: 60px; */
  /* margin: auto; */
  z-index: 2;

  /* background-color: wheat; */
}

.bowl_ringG {
  /* position: absolute; */
  width: var(--bowl_ringG-width);
  height: var(--bowl_ringG-height);
  border: var(--bowl_ringG-border) solid var(--theme-color);
  border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}
.media-loading-animation .bowl_ringG {
  border-color: var(--white);
}
.ball_holderG {
  /* position: absolute; */
  /* position: relative; */
  width: 1px;
  /* z-index: 3; */
  height: var(--bowl_ringG-height);
  border-radius: 50%;
  /* top: 0px; */
  transform-origin: center center;
  animation-name: ball_moveG;
  -o-animation-name: ball_moveG;
  -ms-animation-name: ball_moveG;
  -webkit-animation-name: ball_moveG;
  -moz-animation-name: ball_moveG;
  animation-duration: 1.5s;
  -o-animation-duration: 1.5s;
  -ms-animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-timing-function: linear;
  -o-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;

  /* background-color: turquoise; */
}

.ballG {
  /* display: none; */
  position: relative;
  transform: translateX(-50%);
  /* left: -9.5px; */
  top: var(--ballG-top);
  /* left: 50%; */

  /* top: -9.5px; */
  /* transform: translateY(calc(-50% - 2px)); */
  /* top: -40%; */
  /* transform: translate(-50%, 0); */
  /* left: 0px;
  top: -11px; */

  width: var(--ballG-width);
  height: var(--ballG-height);
  background-color: var(--theme-color);
  border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}
.media-loading-animation .ballG {
  background-color: var(--white);
}
@keyframes ball_moveG {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@-o-keyframes ball_moveG {
  0% {
    -o-transform: rotate(0deg);
  }

  100% {
    -o-transform: rotate(360deg);
  }
}

@-ms-keyframes ball_moveG {
  0% {
    -ms-transform: rotate(0deg);
  }

  100% {
    -ms-transform: rotate(360deg);
  }
}

@-webkit-keyframes ball_moveG {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes ball_moveG {
  0% {
    -moz-transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(360deg);
  }
}

/* NAV BAR */
.nav-bar {
  height: 6.4rem;
  width: 100%;
  /* min-width: 280px; */
  background-color: var(--theme-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.24);
  transition: all 0.25s ease-out;
}

.nav-bar.hidden {
  top: -67px;
}
.logo-section .logo {
  height: 1.6rem;
  width: auto;
  position: absolute;
  top: 50%;
  left: calc(3.2rem + 2.4rem);
  transform: translate(0, -50%);
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */
  fill: white;
}
.logo-section {
  /* background-color: lawngreen; */
  height: 3.6rem;
  /* width: 100px; */
  position: absolute;
  /* display: none; */
  top: 50%;
  left: 1.6rem;
  transform: translate(0, -50%);
}
.logo-section .logo-icon {
  display: none;
  height: 2.4rem;
  width: auto;
  margin-right: 2.4rem;
  /* position: absolute;
  top: 50%;
  left: 1.6rem;
  transform: translate(0, -50%); */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */
}
.logo-section .cosmodrome {
  display: none;
  height: 1.6rem;
  width: auto;
  /* position: absolute;
  top: 50%;
  left: calc(3.2rem + 2.4rem);
  transform: translate(0, -50%); */
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */
  fill: white;
}
.material-icons.menu-icon {
  color: var(--light-text-color);
  /* float: left; */
  position: absolute;
  top: 50%;
  left: 1.6rem;
  transform: translate(0, -50%);
  cursor: pointer;

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */
}
.sidebar-menu-modal {
  position: absolute;
  min-height: calc(var(--vh, 1vh) * 100);
  min-width: calc(var(--vw, 1vw) * 100);
  max-height: 100%;
  background-color: rgba(0, 0, 0, 0.32);
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.1s ease-out;
}
.sidebar-menu-modal.open {
  opacity: 1;
  pointer-events: all;
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  /* min-height: fit-content; */
  position: absolute;
  left: -30%;

  height: calc(var(--vh, 1vh) * 100);

  overflow: auto;

  /* padding: 16px; */
  /* max-width: 80%; */
  background-color: var(--theme-color);
  opacity: 1;
  transition: all 0.2s ease-out;

  box-shadow: 1px 0 3px rgba(0, 0, 0, 0.12), 1px 0px 2px rgba(0, 0, 0, 0.24);
}
.sidebar-menu-modal.open .sidebar-menu {
  left: 0px;
}
a {
  text-decoration: none;
}
.nav-bar .links-section {
  display: none;
}
.sidebar-menu .links-section {
  flex-grow: 1;
  /* display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  align-items: center; */
  /* position: absolute; */
  /* top: 3.2rem; */
  padding: 1.6rem 1.6rem;
  /* left: 50%; */
  /* transform: translateX(-50%); */
  /* background-color: turquoise; */
}
.links {
  /* display: inline-block; */
  /* background-color: violet; */
  /* margin-top: 16px; */

  color: white;

  text-transform: uppercase;
  /* border: 2px solid white; */
  border-radius: 4px;
  /* text-align: center; */
  padding: 0.7rem 1.6rem;
  white-space: nowrap;

  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
}
/* .links:hover {
  background-color: var(--light-theme-color);
} */

.sidebar-menu .links-section .links {
  margin-top: 1.6rem;
}
#ivl {
  color: var(--theme-color);
  background-color: var(--light-text-color);
}

.sidebar-footer-section {
  width: 100%;

  padding: 1.6rem 2.4rem 1.6rem 2.4rem;
}
.sidebar-footer-section .footer-contents svg {
  fill: white;
}
.sidebar-footer-section .footer-contents p {
  color: white;
}

.search-icon-container {
  height: 40px;
  width: 40px;
  position: absolute;
  top: 50%;
  right: 0.8rem;
  transform: translate(0, -50%);

  border-radius: 50%;
  color: var(--light-text-color);
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */
}
.search-icon-container:hover {
  /* background-color: var(--light-theme-color); */
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* pointer-events: none; */
}

/* NAV BAR SEARCH*/
.nav-search-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--theme-color);
  pointer-events: none;

  opacity: 0;
  transition: all 0.1s ease-out;
}
.nav-search-bar.open {
  opacity: 1;
  pointer-events: all;
}

.close-nav-search-bar-container {
  min-width: 3.6rem;
  height: 3.6rem;
  margin-left: 0.8rem;
  margin-right: 0.8rem;
  /* background-color: turquoise; */
  position: relative;
  border-radius: 50%;
  /* position: absolute;
  top: 50%;
  transform: translate(0, -50%);

  left: 0.8rem; */

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */
}
.close-nav-search-bar-container:hover {
  cursor: pointer;
  /* background-color: var(--light-theme-color); */
}
.close-nav-search-bar-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--light-text-color);
}

.nav-search-section {
  flex-grow: 1;
  flex-shrink: 1;
  margin-right: 0.8rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  /* background-color: turquoise; */
}
.nav-search-box-container {
  flex-grow: 1;
  flex-shrink: 1;
  margin-right: 0.8rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  height: 3.6rem;
  background-color: var(--light-theme-color);
  border-radius: 4px;
}
.nav-search-box-container input {
  height: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  width: 100px;
  /* min-width: 36px; */
  /*  */
  /* width: calc(100vw - 6.4rem - 96px); */
  background-color: var(--light-theme-color);
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  outline: none;
  border: none;
  border-radius: 4px 0 0 4px;
  padding-left: 0.8rem;
}

.nav-search-box-container input::placeholder {
  color: rgba(255, 255, 255, 1);
  opacity: 1; /* Firefox */
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  -webkit-user-select: none; /* Safari */

  user-select: none; /* Standard syntax */
}

.nav-search-box-container input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--light-text-color);
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  -ms-user-select: none; /* IE 10+ and Edge */
}

.nav-search-box-container input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--light-text-color);
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  -ms-user-select: none; /* IE 10+ and Edge */
}
/* search icon button */
.nav-search-box-container span {
  color: var(--light-text-color);
  padding: 0.6rem;
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */
}
.toggle-media-type-container {
  background-color: var(--light-theme-color);
  height: 3.6rem;
  width: 3.6rem;

  border-radius: 50%;
  color: var(--light-text-color);
  cursor: pointer;

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */
}
.toggle-media-type-container .media-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.toggle-media-type-container .inactive-media-type {
  display: none;
}
/* .toggle-media-type-container .active-media-type {
  display: inline-block;
} */
#toggle-video-icon {
  height: 2.4rem;
  width: auto;
  fill: white;
}
/* NAV BAR SEARCH ENDS */

/* MEDIA CONTROLS ON NAV BAR STARTS */

.nav-media-control-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--theme-color);
  pointer-events: none;

  opacity: 0;
  transition: all 0.1s ease-out;
}
.nav-media-control-bar.open {
  opacity: 1;
  pointer-events: all;
}

.back-button-container span {
  color: white;
  margin-left: 1.6rem;
  cursor: pointer;

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */
}
.controls-container {
  /* background: wheat; */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  /* justify-content: center; */
  align-items: center;
}
.controls-container .full-screen-icon {
  position: relative;
  display: inline;
  color: white;
  margin-right: 2.4rem;
  cursor: pointer;
  z-index: 1;
  /* background: turquoise; */
}
/* .controls-container .full-screen-icon::before {
  content: "";
  background: var(--light-theme-color);
  height: 3.6rem;
  width: 3.6rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: -1;
  opacity: 0;
}
.controls-container .full-screen-icon:hover::before {
  opacity: 1;
} */
.select-quality-container {
  /* float: right; */
  height: 3.6rem;
  margin-right: 1.6rem;
  /* position: absolute;
  right: 0; */
}
.select-quality {
  /* box-sizing: content-box; */
  padding: 0 8px;
  height: 100%;
  /* margin-left: 12px; */
  /* margin: 10px; */
  border-radius: 4px;
  background-color: transparent;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;

  border: 2px solid white;
  outline: none;
  cursor: pointer;

  /* font-style: italic; */
}
.select-quality:focus {
  outline: none;
}

option {
  color: black;
  background-color: transparent;
}
/* MEDIA CONTROLS ON NAV BAR ENDS */

/* NAV BAR ENDS */

/* HOME PAGE MODAL */
.home-page-modal {
  /* display: none; */
  display: flex;
  flex-flow: column;
  /* position: relative; */
  position: absolute;
  top: 6.4rem;
  left: 0px;
  /* margin-top: 6.4rem; */
  width: 100%;
  height: calc(var(--vh, 1vh) * 100 - 6.4rem);
  z-index: 1;
  background-color: white;
}
.page-description-container {
  /* min-width: 280px; */
  width: 100%;
  background-color: var(--theme-color);
  color: var(--light-text-color);
  padding: 4rem;
  transition: all 0.25s ease-out;
}
.page-description-text p:first-child {
  font-family: "Montserrat", sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 2.4rem;
  text-transform: uppercase;
}
.page-description-text p:last-child {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2rem;
  padding-top: 0.8rem;
}

.home-page-search-section {
  /* display: flex;
  flex-flow: column; */
  /* min-width: 280px; */
  /* display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center; */
  position: relative;
  /* background-color: turquoise; */
  padding: 4rem 2.4rem;
  box-shadow: 0 -1px 6px rgba(0, 0, 0, 0.24);
}
.home-page-search-box-container {
  /* background-color: yellowgreen; */
  flex-grow: 1;
  flex-shrink: 1;
  max-width: 480px;
  margin: auto;
  display: flex;

  /* align-items: center; */
  /* justify-content: center; */
  flex-wrap: nowrap;
  height: 4.8rem;
  /* min-width: 280px; */
  border-radius: 2px;
  border: 1px solid var(--light-border-color);
}
.home-page-search-box-container input {
  height: 100%;
  /* min-width: 180px; */
  flex-grow: 1;
  flex-shrink: 1;
  padding-left: 1.6rem;
  border: none;
  outline: none;
  border-radius: 2px 0px 0px 2px;
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--primary-text-color);
}

.home-page-search-box-container input::placeholder {
  color: var(--theme-color);
  -webkit-user-select: none; /* Safari */

  user-select: none; /* Standard syntax */
}
/* search icon of home page search section */
.home-page-search-box-container span {
  /* height: 100%; */
  padding: 1.2rem 0.8rem;
  color: var(--theme-color);
  /* background-color: var(--light-theme-color); */
  border-radius: 0px 2px 2px 0px;
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */
}

.media-type-radio-buttons-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  /* position: absolute;
  left: 50%;
  transform: translateX(-50%); */
  padding: 1.6rem 0;

  /* background-color: turquoise; */
}
input[type="radio"] {
  display: none;
  /* height: 36px; */
}
.media-type-radio-buttons-container label {
  /* position: absolute; */
  /* height: 36px; */
  padding: 0.5rem 1.6rem;
  color: var(--theme-color);
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  /* line-height: 27px; */
  white-space: nowrap;
  border: 2px solid var(--theme-color);

  /* height: 100%; */
  /* margin-right: 1.6rem; */
  text-transform: uppercase;
  border-radius: 4px;
  cursor: pointer;
}
.media-type-radio-buttons-container label:nth-child(2) {
  margin-right: 1.8rem;
}
.media-type-radio-buttons-container label:nth-child(4) {
  margin-left: 1.8rem;
}

input[type="radio"]:checked + label {
  background-color: var(--theme-color);
  color: var(--light-text-color);
}

/* HOME PAGE FOOTER SECTION */
.home-page-footer-section {
  position: relative;
  background-color: white;
  width: 100%;
  /* min-height: 76px; */
  z-index: 1;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-end;
  justify-content: center;
  padding: 1.6rem;
}

.social-links {
  /* background-color: blue; */
  display: flex;
  justify-content: center;
}

.social-links svg {
  display: inline-block;
  text-decoration: none;
  /* text-align: center; */
  margin-bottom: 0.4rem;
  fill: var(--footer-color);
  height: 3.2rem;
  width: auto;
  /* background-color: turquoise; */
}
.project-info-footer {
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  white-space: nowrap;
  color: var(--footer-color);
}

/* HOME PAGE FOOTER ENDS */

/* HOME PAGE MODAL ENDS */

/* cards container */
.results-container {
  margin-top: 6.4rem;
  margin-bottom: 2.4rem;
  padding: 0 1.6rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.change-media-container {
  /* background: turquoise; */
}
.cards-container {
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 4px; */

  /* width: 100%; */

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1.6rem;
}
.card {
  overflow: hidden;

  border-radius: 2px;
  position: relative;
  cursor: pointer;
  /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); */

  /* to maintain aspect ratio 3:2 */
  padding-top: calc(66.666666%);
  /* background-color: aqua; */

  /* border: 1px solid red; */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */
}
.card img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* border-radius: 4px; */
}
.overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4.8rem;
  /* background: rgb(0, 0, 0); */
  /* background: rgba(0, 0, 0, 0.5);  */

  border-radius: 0px 0px 1px 1px;
  /* background: rgba(33, 33, 33);
  background: rgba(33, 33, 33, 0.75); */
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.8018557764902836) 0%,
    rgba(0, 0, 0, 0) 100%
  );

  /* background: black; */
  transition: all 0.15s ease-out;
  /* opacity: 0; */
  color: white;
  font-size: 1.4rem;
  font-weight: 400;

  /* padding: 8px 16px; */
  font-family: "Open Sans", sans-serif;
  /* font-weight: 600; */
  /* to swap the font when its downloaded */
  font-display: swap;
  overflow: hidden;

  white-space: nowrap;
  text-overflow: ellipsis;
}
.overlay-title {
  overflow: hidden;

  white-space: nowrap;
  text-overflow: ellipsis;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  max-width: 100%;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}

/* MODAL SCREEN */
.content-modal {
  position: fixed;
  top: 6.4rem;
  left: 0;

  height: calc(var(--vh, 1vh) * 100 - 6.4rem);
  width: calc(var(--vw, 1vw) * 100);

  background-color: white;
  opacity: 0;
  /* display: none; */
  pointer-events: none;
  /* padding: 16px; */
  overflow: auto;
  z-index: 1;
}
.content-modal.open {
  opacity: 1;
  pointer-events: all;
}
.content-section {
  width: 100%;
  height: auto;
  /* min-height: 240px; */
}
.content-section.blur {
  filter: brightness(50%);
}
.content-section .arrow-button-container {
  position: absolute;
  top: 2.4rem;
  color: var(--white);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  z-index: 1;
  opacity: 1;
  pointer-events: all;
  /* background: tomato; */
}
.content-section .arrow-button-container.hide {
  opacity: 0;
  pointer-events: none;
}

.content-section .arrow-button-container .arrow-button:nth-child(1) {
  margin-left: 1.6rem;

  /* border: 2px solid var(--white); */
  /* border-left: none; */
  border-radius: 0 20px 20px 0;
  /* background: turquoise; */
  cursor: pointer;

  filter: drop-shadow(0px 0px 4px black);

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */
}
.content-section .arrow-button-container .arrow-button.hide:nth-child(1) {
  opacity: 0;
  pointer-events: none;
}

.content-section .arrow-button-container .arrow-button:nth-child(2) {
  margin-right: 1.6rem;

  /* border: 2px solid var(--white); */
  /* border-left: none; */
  border-radius: 0 20px 20px 0;
  /* outline: 1px solid turquoise; */
  transform: rotate(180deg);
  cursor: pointer;
  filter: drop-shadow(0 0 4px black);
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */
}
.content-section .arrow-button-container .arrow-button.hide:nth-child(2) {
  opacity: 0;
  pointer-events: none;
}
.message {
  position: absolute;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--primary-text-color);
  height: auto;
  width: calc(100vw - 6.4rem);
  text-align: center;
  /* background: turquoise; */
  top: 6.4rem;
  left: 50%;
  transform: translate(-50%, 0);
}

/* message on the results screen */
#message {
  color: var(--theme-color);
  top: 50%;
  transform: translate(-50%, -50%);
}
.media-container {
  width: 100%;
  height: auto;
}
.media-container img {
  width: 100%;
  height: auto;
}
.media-container video {
  width: 100%;
  height: auto;
}

.know-more-data-container {
  display: none;
  /* background: turquoise; */
  padding: 2.4rem;
  text-align: justify;
}
.know-more-data-container.show {
  display: block;
  width: 100%;
  /* height: 200px; */
}

.know-more-data-container #title {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: var(--primary-text-color);
}
.know-more-data-container #description {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--primary-text-color);
}
.know-more-data-container #date {
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
  font-style: italic;
  color: var(--secondary-text-color);
}

/* RESPONSIVE CODES */
@media only screen and (max-width: 320px) {
  :root {
    font-size: 56.25%;
    --bowl_ringG-width: 36px;
    --bowl_ringG-height: 36px;
    --bowl_ringG-border: 3px;
    --ballG-width: 16px;
    --ballG-height: 16px;
    /* formula:  --(ballG-height divided by 2) minus 2 */
    --ballG-top: calc(2px - calc(var(--ballG-height) / 2));
  }
  .loading-animation-container.media-loading-animation {
    /* background: turquoise; */
    --bowl_ringG-width: 36px;
    --bowl_ringG-height: 36px;

    --ballG-width: 16px;
    --ballG-height: 16px;
    /* formula:  --(ballG-height divided by 2) minus 2 */
    --ballG-top: calc(2px - calc(var(--ballG-height) / 2));
  }

  .home-page-search-section {
    padding: 4rem 1.6rem;
  }

  .sidebar-footer-section {
    width: 100%;
    padding: 1.6rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .material-icons.menu-icon {
    background-color: khaki;
    display: none;
    /* opacity: 0;
    pointer-events: none; */
  }
  .logo-section {
    /* position: absolute; */
    left: 2.4rem;
    display: flex;
    place-items: center;
    /* background-color: khaki; */
  }
  .logo-section .logo-icon {
    display: inline-block;
  }

  .logo-section .cosmodrome {
    display: inline-block;
  }
  .logo-section .logo {
    display: none;
  }

  .search-icon-container {
    display: none;
  }
  .nav-bar .links-section {
    display: inline-block;

    position: absolute;
    top: 50%;
    right: 2.4rem;
    transform: translate(0, -50%);
  }
  .nav-bar .links-section .links {
    display: inline-block;
  }
  /* page description */
  .page-description-container {
    padding: 5.6rem 7.2rem;
  }
  /* home page search section */
  .home-page-search-section {
    padding: 6.4rem 4.8rem;
  }
  .home-page-search-box-container input {
    padding-left: 2.4rem;
  }
}

/* stuff at the end */
.disabled {
  cursor: progress;
  pointer-events: none;
}

input:focus::placeholder {
  color: transparent;
}
input:focus::-webkit-input-placeholder {
  color: transparent;
}
input:focus:-moz-placeholder {
  color: transparent;
} /* FF 4-18 */
input:focus::-moz-placeholder {
  color: transparent;
} /* FF 19+ */
input:focus:-ms-input-placeholder {
  color: transparent;
} /* IE 10+ */
