* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
body {
  margin: 0;
  padding: 12px;
  background-color: rgb(48, 48, 48);
  color: white;
}
/* Icons */
.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}
.material-icons.md-32 {
  font-size: 32px;
}
.material-icons.md-28 {
  font-size: 28px;
}
.material-icons.md-30 {
  font-size: 30px;
}

/* button splash effect */
.splash-effect {
  position: relative;
  overflow: hidden;
}
.ripple {
  position: absolute;
  background-color: white;
  transform: translate(-50%, -50%);
  pointer-events: none;
  border-radius: 80%;
  animation: animate 1s linear infinite;
}

@keyframes animate {
  0% {
    width: 0px;
    height: 0px;
    opacity: 0.5;
  }

  100% {
    width: 500px;
    height: 500px;
    opacity: 0;
  }
}

/* cards container */
.cards-container {
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 4px; */

  /* width: 100%; */

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 12px;
}
.card {
  overflow: hidden;
  /* display: inline-block; */
  /* margin: 12px auto; */
  /* min-width: 360px; */
  /* min-height: 240px; */
  border-radius: 4px;
  position: relative;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

  padding-top: 66.666666%;
  /* background-color: aqua; */
}
.card img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* border-radius: 4px; */
}
.overlay {
  position: absolute;
  bottom: 0;
  /* background: rgb(0, 0, 0); */
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  border-radius: 0px 0px 4px 4px;
  width: 100%;
  max-height: 240px;

  transition: 0.15s ease-in-out;
  opacity: 0;
  color: white;
  font-size: 13px;
  font-weight: 400;

  padding: 10px;
  font-family: "Open Sans";
  font-display: swap;
  overflow: hidden;
}
.card:hover .overlay {
  opacity: 1;
}

/* MODAL SCREEN */

.modal {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 64px 1fr;

  /* grid-gap: 10px; */

  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */

  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: white;
  background-color: rgba(49, 49, 49, 0.75);

  -webkit-backdrop-filter: blur(1px);

  backdrop-filter: blur(12px);
  pointer-events: none;
  opacity: 0;
  transition: all 0.15s ease-out;
}
.modal.open {
  pointer-events: all;
  opacity: 1;
}
/*.modal-header-container {
   background-color: turquoise; 
  box-sizing: border-box;
  width: 100%;
  min-width: 700px;
  height: 10%;
  margin: 0px;
  /* padding: 24px 32px; 
  position: relative;
}*/

/* includes the close and next and prev buttons */
svg {
  height: 32px;
  width: 32px;
  fill: white;
}

/* CONTROLS SECTION */
.controls-section {
  /* position: absolute;
  top: 50%;
  transform: translateY(-50%); */
  /* left: 32px; */
  /* background-color: blueviolet; */
  display: flex;
  align-items: center;
  position: relative;
}

.know-more-button-container {
  height: 36px;
}
.know-more-button {
  border: none;
  border-bottom: 0.5px solid white;
  padding: 8px 8px;
  height: 100%;
  margin-left: 12px;
  /* margin: 10px; */
  border-radius: 1px;

  background-color: transparent;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: light;
  outline: none;
  cursor: pointer;
}
.know-more-button:focus {
  outline: none;
}
.know-more-data-container {
  position: absolute;
  top: 0;
  background-color: thistle;
  z-index: 1;
  display: block;
  width: 100%;
  min-height: 100%;
  padding: 16px;
  font-family: "Lato", sans-serif;
  /* height: 100%; */
  /* overflow: auto; */
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.8);

  opacity: 0;
  /* display: none; */
}
.know-more-data-container.open {
  opacity: 1;
}
.select-menu-container {
  height: 36px;
}
.select-menu {
  /* box-sizing: content-box; */
  padding: 8px 8px;
  height: 100%;
  margin-left: 12px;
  /* margin: 10px; */
  border-radius: 1px;
  background-color: transparent;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: light;
  border: none;
  border-bottom: 0.5px solid white;
  outline: none;
  cursor: pointer;
  /* font-style: italic; */
}
.select-menu:focus {
  outline: none;
}

option {
  background-color: transparent;
  color: black;
}
/* CLOSE BUTTON */
#close-button-section {
  /* background-color: chartreuse; */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
#close-button-container {
  margin-right: 12px;
  /* height: 48px;
  width: 48px; */
  /* background-color: aqua; */
  /* position: absolute; */
  /* top: 50%;
  transform: translateY(-50%);
  right: 10%; */
  /* margin: 10px; */

  display: inline-block;
  /* border: 1px solid red; */

  /* border-radius: 50%; */
  position: relative;
  /* height: 100%;
  width: 100%; */
}
#close-button-container:hover {
  cursor: pointer;
  background-color: #f44336;
}

.close {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* height: 24px;
  width: 24px; */
}

/* NEXT AND PREVIOUS BUTTONS */
.change-item-button {
  position: absolute;
  padding: 8px 18px;
  color: white;
  border-radius: 4px;

  border: none;
  outline: none;
  display: none;
  text-decoration: none;
  background-color: transparent;
  /* transition: 0.1s; */
  /* overflow: hidden; */
  /* display: inline-block; */
  /* padding: 12px; */
}
.change-item-button:hover {
  cursor: pointer;
  background-color: #42a5f5;
}

#prevBtn {
  left: 50%;
  top: 50%;
  transform: translate(-125%, -50%);
}
#nextBtn {
  right: 50%;
  top: 50%;
  transform: translate(125%, -50%);
}

/*  CONTENTS SECTION */

.content-section {
  /* background-color: cadetblue; */
  position: relative;
  /* display: block; */
  /* max-width: 100%; */
  width: 100%;
  height: calc(100vh - 64px);
  /* overflow: hidden; */
  /* background-color: teal; */
  /* flex-direction: column; */
  grid-column: 1 / span 2;
}
/* loading animation */
.lds-ripple {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 47.75%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

/* MESSAGES */
#messageInsideModal {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 24px;

  letter-spacing: 1px;
  display: inline-block;
  /* padding: 0px; */

  text-align: center;
  /* text-justify: auto; */
  /* background-color: teal; */
  /* box-sizing: content-box; */
  position: absolute;

  top: 42.5%;
  left: 50%;

  transform: translate(-50%, -50%);

  width: 60%;
  min-width: 600px;

  /* padding: 12px 24px; */
  /* display: inline-block; */
}
#message {
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 24px;
}

/* MODAL CONTENT (image and video) */

.media-container {
  /* display: flex; */
  /* width: 100%; */
  /* width: 100%; */
  height: 100%;
  /* width: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 50vh; */
  /* max-height: 90%; */
  /* overflow: hidden; */
  /* position: absolute;
  top: 50%;
  transform: translateY(-50%); */
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}
.modal-content {
  /* margin: auto; */
  /* margin-top: 0px; */
  /* display: inline-block; */
  /* padding: 0px; */
  /* height: 100%; */
  /* max-width: 100%; */
  /* object-fit: contain; */
  max-width: 100%;
  max-height: 100%;
  /* height: 400px; */
  /* max-width: 95%; */
  /* max-height: 90%; */

  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

video.modal-content {
  width: 100%;
  object-fit: contain;
}
.modal-content {
  -webkit-animation-name: zoom;
  -moz-animation-name: zoom;
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  animation-name: zoom;
  animation-duration: 0.5s;
}
@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@-moz-keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.disabled {
  cursor: progress;
}
