* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
body {
  margin: 0;
  padding: 0;
  background-color: rgb(48, 48, 48);
  color: white;
}

/* loading animation */

.lds-ripple {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

/* message */
.message {
  color: blue;
  font-family: "Lato", sans-serif;
  font-size: 24px;
  position: absolute;
  left: 50%;
  top: 55%;

  transform: translate(-50%, -50%);
}
/* cards container */
.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 4px;

  width: 100%;
}
.card {
  display: inline-block;
  margin: 12px auto;
  min-width: 360px;
  min-height: 240px;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.overlay {
  position: absolute;
  bottom: 0;
  /* background: rgb(0, 0, 0); */
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  border-radius: 0px 0px 4px 4px;
  width: 100%;
  max-height: 240px;

  transition: 0.15s ease-in-out;
  opacity: 0;
  color: white;
  font-size: 13px;
  font-weight: 400;

  padding: 10px;
  font-family: "Open Sans";
  font-display: swap;
}
.card:hover .overlay {
  opacity: 1;
}

@media (max-width: 800px) {
  .card {
    /* flex: 50%; */
    /* max-width: 50%; */
  }
}

@media (max-width: 600px) {
  .card {
    /* flex: 100%; */
    /* max-width: 100%; */
  }
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */

  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.6); /* Black w/ opacity */

  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
.modal-header-container {
  /* background-color: turquoise; */
  width: 100%;
  margin: 0px;
  padding: 24px 32px;
  position: relative;
}
.close {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 32px;
  display: inline-block;

  border-radius: 50%;
  margin: 0px;
  transition: 0.3s;
  /* vertical-align: top; */
  color: white;
}
.close:hover {
  cursor: pointer;
}
#quality-selector {
}
.change-item-button {
  position: absolute;
  padding: 8px 24px;
  color: white;
  border-radius: 4px;
  background-color: none;
  border: none;
  outline: none;
  display: inline-block;
  text-decoration: none;
  background-color: transparent;
  /* display: inline-block; */
  /* padding: 12px; */
}
.change-item-button:hover {
  cursor: pointer;
  background-color: #29b6f6;
}
.change-item-button:disabled {
  cursor: progress;
}
#prevBtn {
  left: 50%;
  top: 50%;
  transform: translate(-125%, -50%);
}
#nextBtn {
  right: 50%;
  top: 50%;
  transform: translate(125%, -50%);
}

.know-more {
  display: none;
}

.modal-content {
  margin: auto;
  margin-top: 0px;
  display: block;
  /* height: 90%;*/
  max-width: 95%;
  /* max-height: 90%; */
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.modal-text {
  /* text-align: center; */
  margin: auto;
  display: inline;
  /* width: 80%; */
  max-width: 700px;

  color: #ccc;
  /* padding: 10px 0; */
  /* height: 150px; */
}

.modal-content,
.modal-text {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}
@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}
