:root {
    --theme-color: #0d47a1;
    --light-theme-color: #3162af;
    --primary-text-color: black;
    --secondary-text-color: #9e9e9e;
    --tertiary-text-color: #424242;
    --light-text-color: white;
    --disabled-color: rgba(97, 97, 97, 1);
    --footer-color: #bdbdbd;
    --light-border-color: #e0e0e0;
    --white: white;
    --icon-hover-background: rgba(97, 97, 97, 0.5);
    --red: rgba(244, 67, 54, 1);
  
    font-size: 62.5%;
  
    --bowl_ringG-width: 48px;
    --bowl_ringG-height: 48px;
    --bowl_ringG-border: 4px;
    --ballG-width: 19px;
    --ballG-height: 19px;
    /* formula:  --(ballG-height divided by 2) minus 2 */
    --ballG-top: calc(2px - calc(var(--ballG-height) / 2));
  }

  @media only screen and (min-width: 900px) {

    .image-container{
      width: 40%;
      margin-left: 50%;
      
    }

    

    .image-body #pic{
      width: 100%;
  }
  .image-body{
    width: 100%;
    
    
  }

.container{
  width: 40%;
  position: absolute;
  top: 250px;
  
}

.dscovr-details .dscovr-info p{
  font-size: 20px;
}

.container>div{
  font-size: 18px;
}

.container>h3{
  font-size: 24px;
  padding-top: 1%;
  line-height: 4.6rem;
}

.dscovr-details .dscovr-jpg{
  height: 220px;
}

.dscovr-details .dscovr-info h2{
  font-size: 24px;
}

  }

